[package]
name = "smithay"
version = "0.1.0"
authors = ["Victor Berger <victor.berger@thalesgroup.com>"]
license = "MIT"

[dependencies]
wayland-server = "0.10.2"
nix = "0.7.0"
xkbcommon = "0.2.1"
tempfile = "2.1.5"
slog = { version = "2.0.0" }
slog-stdlog = "2.0.0-0.2"
libloading = "0.4.0"
wayland-client = { version = "0.9.9", optional = true }
winit = { version = "0.8.0", optional = true }
drm = { version = "0.2.1", optional = true }
gbm = { version = "0.2.1", optional = true }
glium = { version = "0.17.1", optional = true, default-features = false }
input = { version = "0.2.0", optional = true }
clippy = { version = "*", optional = true }
rental = "0.4.11"
wayland-protocols = { version = "0.10.2", features = ["unstable_protocols", "server"] }
image = "0.15.0"
error-chain = "0.11.0"

[build-dependencies]
gl_generator = "0.5"

[dev-dependencies]
slog-term = "2.0"
slog-async = "2.0"
rand = "0.3"

[features]
default = ["backend_winit", "backend_drm", "backend_libinput", "renderer_glium"]
backend_winit = ["winit", "wayland-server/dlopen", "wayland-client/dlopen"]
backend_drm = ["drm", "gbm"]
backend_libinput = ["input"]
renderer_glium = ["glium"]

[replace]
"drm:0.2.1" = { git = "https://github.com/Drakulix/drm-rs", branch = "future" }
