[package]
name = "smithay"
version = "0.2.0"
authors = ["Victor Berger <victor.berger@m4x.org>", "Drakulix (Victor Brekenfeld)"]
license = "MIT"
description = "Smithay is a library for writing wayland compositors."
repository = "https://github.com/Smithay/smithay"
edition = "2018"

[workspace]
members = [ "anvil" ]

[dependencies]
bitflags = "1"
calloop = "0.6.2"
dbus = { version = "0.9.0", optional = true }
drm = { version = "^0.4.0", git = "https://github.com/drakulix/drm-rs", branch = "develop", optional = true }
gbm = { version = "^0.6.0", git = "https://github.com/drakulix/gbm.rs", branch = "thread-safe", optional = true, default-features = false, features = ["drm-support"] }
glium = { version = "0.28.0", optional = true, default-features = false }
image = { version = "0.23.0", optional = true, default-features = false }
input = { version = "0.5", default-features = false, optional = true }
lazy_static = "1"
libc = "0.2.70"
libloading = "0.6.0"
nix = "0.19"
slog = "2"
slog-stdlog = { version = "4", optional = true }
tempfile = { version = "3.0", optional = true }
thiserror = "1"
udev = { version = "0.5", optional = true }
wayland-commons = { version = "0.28", optional = true }
wayland-egl = { version = "0.28", optional = true }
wayland-protocols = { version = "0.28", features = ["unstable_protocols", "server"], optional = true }
wayland-server = { version = "0.28", optional = true }
wayland-sys = { version = "0.28", optional = true }
winit = { version = "0.23.0", optional = true }
xkbcommon = "0.4.0"
# TODO: remove as soon as drm-rs provides an error implementing Error
failure = { version = "0.1", optional = true }

[dev-dependencies]
slog-term = "2.3"

[build-dependencies]
gl_generator = { version = "0.14", optional = true }
pkg-config = { version = "0.3.17", optional = true }

[features]
default = ["backend_winit", "backend_drm_legacy", "backend_drm_atomic", "backend_drm_gbm", "backend_drm_eglstream", "backend_drm_egl", "backend_libinput", "backend_udev", "backend_session_logind", "renderer_glium", "xwayland", "wayland_frontend", "slog-stdlog"]
backend_winit = ["winit", "wayland-server/dlopen", "backend_egl", "wayland-egl", "renderer_gl", "use_system_lib"]
backend_drm = ["drm", "failure"]
backend_drm_atomic = ["backend_drm"]
backend_drm_legacy = ["backend_drm"]
backend_drm_gbm = ["backend_drm", "gbm", "image"]
backend_drm_eglstream = ["backend_drm", "backend_egl"]
backend_drm_egl = ["backend_drm", "backend_egl"]
backend_egl = ["gl_generator"]
backend_libinput = ["input"]
backend_session = []
backend_udev = ["udev"]
backend_session_logind = ["dbus", "backend_session", "pkg-config"]
backend_session_elogind = ["backend_session_logind"]
renderer_gl = ["gl_generator"]
renderer_glium = ["renderer_gl", "glium"]
use_system_lib = ["wayland_frontend", "wayland-sys", "wayland-server/use_system_lib"]
wayland_frontend = ["wayland-server", "wayland-commons", "wayland-protocols", "tempfile"]
xwayland = ["wayland_frontend"]
test_all_features = ["default"]

[[example]]
name = "raw_legacy_drm"
required-features = ["backend_drm_legacy"]
