[package]
name = "smithay"
version = "0.2.0"
authors = ["Victor Berger <victor.berger@m4x.org>", "Drakulix (Victor Brekenfeld)"]
license = "MIT"
description = "Smithay is a library for writing wayland compositors."
repository = "https://github.com/Smithay/smithay"
edition = "2018"

[workspace]
members = [ "anvil" ]

[dependencies]
bitflags = "1"
calloop = "0.5.1"
dbus = { version = "0.8", optional = true }
drm = { version = "^0.4.0", git = "https://github.com/drakulix/drm-rs", branch = "develop", optional = true }
gbm = { version = "^0.6.0", git = "https://github.com/drakulix/gbm.rs", branch = "develop", optional = true, default-features = false, features = ["drm-support"] }
glium = { version = "0.27.0", optional = true, default-features = false }
image = { version = "0.23.0", optional = true }
input = { version = "0.5", default-features = false, optional = true }
lazy_static = "1"
libloading = "0.6.0"
nix = "0.17"
slog = "2"
slog-stdlog = "4"
systemd = { version = "0.4.0", optional = true }
tempfile = "3.0"
thiserror = "1"
udev = { version = "0.4", optional = true }
wayland-commons = { version = "0.26", optional = true }
wayland-egl = { version = "0.26", optional = true }
wayland-protocols = { version = "0.26", features = ["unstable_protocols", "server"], optional = true }
wayland-server = { version = "0.26", optional = true }
wayland-sys = { version = "0.26", optional = true }
winit = { version = "0.22.0", optional = true }
xkbcommon = "0.4.0"
# TODO: remove as soon as drm-rs provides an error implementing Error
failure = { version = "0.1", optional = true }

[dev-dependencies]
slog-term = "2.3"

[build-dependencies]
gl_generator = { version = "0.14", optional = true }

[features]
default = ["backend_winit", "backend_drm_legacy", "backend_drm_atomic", "backend_drm_gbm", "backend_drm_egl", "backend_libinput", "backend_udev", "backend_session_logind", "renderer_glium", "xwayland", "wayland_frontend"]
backend_winit = ["winit", "wayland-server/dlopen", "backend_egl", "wayland-egl", "renderer_gl", "use_system_lib"]
backend_drm = ["drm", "failure"]
backend_drm_atomic = ["backend_drm"]
backend_drm_legacy = ["backend_drm"]
backend_drm_gbm = ["backend_drm", "gbm", "image"]
backend_drm_egl = ["backend_drm", "backend_egl"]
backend_egl = ["gl_generator"]
backend_libinput = ["input"]
backend_session = []
backend_udev = ["udev"]
backend_session_logind = ["dbus", "systemd", "backend_session"]
renderer_gl = ["gl_generator"]
renderer_glium = ["renderer_gl", "glium"]
use_system_lib = ["wayland_frontend", "wayland-sys", "wayland-server/use_system_lib"]
wayland_frontend = ["wayland-server", "wayland-commons", "wayland-protocols"]
xwayland = ["wayland_frontend"]

[[example]]
name = "raw_legacy_drm"
required-features = ["backend_drm_legacy"]
